
/*--------------------------------navbar/header styles*/
.navbar-container {
    background-color: #6f6f6f;

}

.navbar-dark .navbar-brand {
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    color: #a5d6a7;
}

.navbar-dark .navbar-toggler {
    border-color: #a5d6a7;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    color: #a5d6a7;
    padding: 5px;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #3ec878;
}

/*--------------------------------main section*/

.bg-image-container {
    height: 100vh;

    background: url('../images/workspace-background-img2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}